<div class="
    position-absolute top-0 start-0 w-100 h-100
    d-flex justify-content-center align-items-center
    bg-secondary bg-opacity-50
    "
     style="z-index: 100000;"
    {{ stimulus_target('hipay-hosted-fields', 'loader') }}
>
    <div class="spinner-border text-primary" role="status"></div>
</div>
